{% extends '::base.html.twig' %}

{% block body %}
<h1>Operation creation</h1>

<form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    
    <input type="submit" />
</form>
{% endblock }
